.checkout{
    min-height: 100vh;
    padding-top: 70px;
    width: 100%;
    text-align: center;
}

.checkout h1 {
    color: #023148;
    margin:  10px auto;
    text-align: center;
    width: 100%;
    font-weight: 800;
}

.checkout .container-order{
    display: flex;
    justify-content: center;
    color: #023148;
}

.checkout .container-order .user-info{
    margin: 0 40px 30px 40px;
    text-align: start;
}

.checkout .container-order .user-info h2{
    font-weight: 600;
    font-size: 26px;
}

.checkout .container-order .user-info p{
    font-size: 18px;
    font-weight: 700;
}

.checkout .container-order .user-info .info-details{
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #023148;
    padding: 5px;
    background-color: #75d3ff;
    border-radius: 5px;
}

.checkout .container-order .order-info{
    margin: 0 40px 30px 40px;
}

.checkout .container-order .order-info h2{
    font-weight: 600;
    font-size: 26px;
}

.checkout .container-order .order-info .order-item {
    display: flex;
    align-items: center;
    gap: 15px;
    border-bottom: 2px solid #02314883;
    margin-bottom: 15px;
}
  
.checkout .container-order .order-info .order-item img {
    border-radius: 4px;
    width: 60px;
}
  
.checkout .container-order .order-info .order-item .order-details{
    text-align: center;
    width: 100%;
}

.checkout .btn-finish{
    padding: 10px 30px;
    background-color: #064a74;
    color: #b6e5ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 40px;
}

.cart .btn-checkout {
    padding: 10px 30px;
    background-color: #064a74;
    color: #b6e5ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 24px;
    margin-bottom: 40px;
}


.cart .btn-checkout:hover {
    background-color: #023148;
}