.imagen-fondo-container {
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;
    z-index: 1;
}


.imagen-fondo {
    width: 100%;
    height: 800px;
    object-fit: cover; 
    opacity: 0.8; 
    display: block;
}

.imagen-fondo-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10%; 
    background: linear-gradient(to bottom, transparent,#b6e5ff);
    pointer-events: none;
    z-index: 2;
}


.movies-container {
    position: relative;
    z-index: 2;
    margin-top: -400px; 
}

.search {
    display: flex;
    justify-content: center;
    margin: 0 0 40px 0;
}

.search img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    filter: brightness(0) saturate(100%) invert(48%) sepia(100%) saturate(747%) hue-rotate(170deg) brightness(95%) contrast(102%);
}

.search input{
    width: 300px;
    border-radius: 5px;
    font-size: 20px;
    padding: 3px;
    border: 2px solid #00a7fa;
    outline: none;
    border-radius: 15px;
    color: #00a7fa;
    background-color: #023148a7;
}

.search input::placeholder {
    color: #00a7fa;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.movies h2{
    font-size: 30px;
    font-weight: 800;
}

.movies .movie {
    padding: 15px;
    display: flex;
    justify-content: center;
}

.movies .movie img {
    width: auto;
    height: 450px;
    max-width: 300px;
    border-radius: 15px;
}

.movies .movie img:hover {
    transform: scale(1.1);
    transition: transform 0.8s;
}

/* -----------Movie details ------------*/

.container-movie-detail{
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #023148a7;
    color: #b6e5ff;
    overflow: hidden;
    background-size: cover;
    height: 100dvh;
}

.container-movie-detail .no-movies{
    font-size: 25px;
    font-weight: 800;
    margin: 50px;
}

.container-movie-detail .movie-detail{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    max-width: 1296px;
}

.container-movie-detail .movie-detail .container-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-movie-detail .movie-detail img{
    width: 150px;
    margin: 20px;
}
  
.container-movie-detail .movie-detail .movie-detail-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #b6e5ff;
}
  
.container-movie-detail .movie-detail .movie-detail-text h1{
    font-size: 30px;
    font-weight: 700;
    margin: 20px;
    text-align: center;
}
  
.container-movie-detail .movie-detail .movie-detail-text h2{
    font-size: 20px;
    font-weight: 500;
    margin: 10px;
}

.container-movie-detail .movie-detail .movie-detail-text span{
    font-size: 20px;
    font-weight: 400;
}
  
.container-movie-detail .movie-detail .movie-detail-text ul{
    font-size: 16px;
    font-weight: 300;
    max-width: 900px;
    list-style: none;
    display: flex;
    padding: 0;
    margin: 10px;
}
  
.container-movie-detail .movie-detail .movie-detail-text ul li{
    margin: 3px;
}
  
.container-movie-detail .movie-detail .movie-detail-text ul li span{
    font-weight: 800;
    font-size: 16px;
    color: rgb(143, 5, 5);
}

.container-movie-detail .movie-detail .movie-detail-text .buy{
    display: flex;
    align-items: center;
}

.container-movie-detail .movie-detail .movie-detail-text img{
    filter: brightness(0) saturate(100%) invert(41%) sepia(87%) saturate(678%) hue-rotate(75deg) brightness(90%) contrast(85%);
    width: 50px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.container-movie-detail .movie-detail .movie-detail-text img:active{
    transform: scale(0.90);
    box-shadow: none;
}

.container-movie-detail .movie-detail .movie-detail-text p{
    margin-left: 20px;
    color: #059c1e;
    font-size: 18px;
}

.container-movie-detail .trailer{
    margin: 20px;
    width: 60%;
}

.trailer .video{
    width: 100%;
    height: 480px;
    border-radius: 20px;
}

/* ----------- User menu ------------*/

.user-menu-wrapper {
    position: relative;
    display: inline-block;
}
  
.user-icon {
    width: 32px;
    cursor: pointer;
    transition: filter 0.3s ease;
    margin: 0;
}

.user-icon:active{
    transform: scale(0.90);
    box-shadow: none;
}
  

.login {
    filter: brightness(0) saturate(100%) invert(47%) sepia(99%) saturate(371%) hue-rotate(75deg) brightness(93%) contrast(89%);
}
  

.logout {
    filter: brightness(0) saturate(100%) invert(20%) sepia(95%) saturate(2000%) hue-rotate(0deg) brightness(95%) contrast(100%);
}
  
.user-menu-arrow {
    cursor: pointer;
    font-size: 18px;
    color: #28a745; 
}

.user-menu-arrow:active{
    transform: scale(0.80);
    box-shadow: none;
}
  
.dropdown-menu {
    position: absolute;
    top: 40px;
    left: 10px;
    background-color: #b6e5ff;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.742);
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    z-index: 100;
    min-width: 120px;
}
  
.dropdown-menu a,
.dropdown-menu button {
    background: none;
    border: none;
    text-align: left;
    padding: 5px 0;
    cursor: pointer;
    color: #fd0000b9;
    font-size: 18px;
    text-decoration: none;
    font-weight: 600;
}

.dropdown-menu a{
    font-weight: 700;
}
  
.dropdown-menu a:hover,
.dropdown-menu button:hover {
    color: #28a745;
}

/* ----------- Profile ------------*/

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color:#b6e5ff;
    color: #064a74;
    height: 100vh; 
    max-width: 1200px; 
    margin: auto;
}

.profile-container h1 {
    font-size: 45px;
    margin-bottom: 20px;
}
  
.profile-info {
    font-size: 18px;
    color: #060606;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "name lastName address"
                         "email email phone"
                         "password password password";

    margin-bottom: 20px;
    gap: 10px;
    padding: 10px;
    border: 1px solid #064a74;
    width: 80%;
    gap: 30px;
    border-radius: 10px;
}

.profile-info .name {
    grid-area: name;
}
.profile-info .lastName {
    grid-area: lastName;
}
.profile-info .address {
    grid-area: address;
}
.profile-info .email {
    grid-area: email; 
}
.profile-info .phone {
    grid-area: phone;
}

.profile-info h2 {
    border-radius: 5px;
    color: #064a74;
    font-size: 18px;
    font-weight: 600;
}

.profile-info p {
    margin: 0;
    font-size: 18px;
    background-color: #00588d;
    color: #def1ff;
    padding: 5px;
    font-weight: 400;
    border-radius: 5px;
}

.profile-container .container-btn{
    display: flex;
    width: 80%;
}

.profile-container .container-btn .btn-save {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #059c1e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}
  
.profile-container .container-btn .btn-save:hover {
    background-color: #047a15;
}

.profile-container .orders-section {
    margin-top: 20px;
    border: 1px solid #064a74;

}

.profile-container .profile-info .input-edit {
    background-color: #2cbdff;
    color:#064a74;
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
    width: 97%;
}

.profile-container .profile-info .input-edit:focus {
    outline: none;
    border: 2px solid #064a74;
    background-color:#2cbdff;
}

.profile-container .profile-info .input-edit:hover {
    background-color: #2cbdff;
}

.profile-container .profile-info .input-edit:-moz-autofill {
    background-color:  #2cbdff !important;
    color: #064a74 !important;
}

.profile-container .profile-info .input-edit:-webkit-autofill {
    background-color: #2cbdff !important;
    -webkit-box-shadow: 0 0 0 1000px #2cbdff inset !important;
    -webkit-text-fill-color: #064a74 !important;
}

.profile-container .profile-info .btn-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    width: 100%;
    grid-area: password;
}

.profile-container .profile-info .btn-password .password{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-container .profile-info .btn-password .btn-password-toggle {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #059c1e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

/* ----------- Login ------------*/

.container-login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-login .form-section {
    background-color: #0083d4;
    min-height: 50%;
    min-width: 50%;
    border-radius: 15px;
}

.container-login .form-section h1 {
    text-align: center;
    color: #b6e5ff;
    font-size: 30px;
    margin-top: 20px;
}

.container-login .form-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.container-login .form-section .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.container-login .form-section .form-group label {
    color: #064a74;
    font-size: 20px;
    margin-bottom: 10px;
}

.container-login .form-section .form-group input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #064a74;
    font-size: 18px;
    margin-bottom: 20px;
}

.container-login .form-section .form-group input:focus {
    outline: none;
    border-color: #064a74;
}

.container-login .form-section button {
    padding: 10px 20px;
    background-color: #064a74;
    color: #b6e5ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 30px;
}

.container-login .form-section button:hover {
    background-color: #023148;
}

.container-login .form-section .switch-form {
    display: flex;
    justify-content: center;
}

.container-login .form-section .switch-form p {
    color: #b6e5ff;
    font-size: 18px;
    font-weight: 500;
}

.container-login .form-section .switch-form a {
    color: #042e4d;
    font-weight: 700;
    text-decoration: none;
    margin-left: 10px;
}

/* ----------- Register ------------*/

.container-register {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-register .form-register {
    background-color: #0083d4;
    min-height: 50%;
    min-width: 50%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-register h1{
    font-size: 32px;
    color: #b6e5ff;
}

.container-register .form-register form {
    display: flex;
    flex-direction: column;
    gap: 25px;

}

.container-register .form-register form .register-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.container-register .form-register form .register-group label{
    color: #b6e5ff;
    margin-right: 10px;
    font-weight: 600;
    font-size: 18px;
}

.container-register .form-register form .register-group input{
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #064a74;
    font-size: 18px;
    width: 70%;
}

.container-register .form-register form .register-group input:focus{
    outline: none;
    border-color: #064a74;
}

.container-register .form-register .alignment {
    display: flex;
}

.container-register .form-register .alignment .input-register input{
    width: 93%;
}

.container-register .form-register form .btn-create{
    width: 50%;
    margin: auto;
    padding: 10px 15px;
    background-color: #059c1e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.container-register .form-register form .btn-create:hover {
    background-color: #047a15;
}

.container-register .form-register .switch-register p{
    color: #b6e5ff;
    font-size: 18px;
    font-weight: 500;
}

.container-register .form-register .switch-register a{
    color: #042e4d;
    font-weight: 700;
    text-decoration: none;
    margin-left: 10px;
}

/*------------- Not Found-------------*/

.container-notFound{
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-notFound h1{
    color: rgba(178, 1, 1, 0.871);
    font-size: 120px;
    margin: 20px;
}

.container-notFound p{
    font-size: 32px;
    color: #042e4d;
}

.container-notFound a{
    color:#0083d4;
    font-weight: 700;
    text-decoration: none;
    font-size: 22px;
}

/*--------Cart---------*/
.cart{
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}